CakePHP 3

/vendor/*
/config/app.php
/tmp/*
/logs/*

CakePHP 2

/app/tmp/*
/app/Config/core.php
/app/Config/database.php
/vendors/*
.metadata/.lock
.metadata/version.ini
.metadata/.plugins/com.aptana.core.io/connections.11
.metadata/.plugins/com.aptana.projects/dialog_settings.xml
.metadata/.plugins/com.aptana.syncing.core/defaultConnection.11
.metadata/.plugins/com.aptana.syncing.core/sites.11
.metadata/.plugins/com.aptana.usage/events/-1603773818.json
.metadata/.plugins/com.aptana.usage/events/-1845708273.json
.metadata/.plugins/com.aptana.usage/events/-347338079.json
.metadata/.plugins/com.aptana.usage/events/-361379023.json
.metadata/.plugins/com.aptana.usage/events/-883726522.json
.metadata/.plugins/com.aptana.usage/events/1540900894.json
.metadata/.plugins/com.aptana.usage/events/1731867410.json
.metadata/.plugins/com.aptana.usage/events/1731869332.json
.metadata/.plugins/com.aptana.usage/events/1737733772.json
.metadata/.plugins/com.aptana.usage/events/929810173.json
.metadata/.plugins/org.eclipse.core.resources/.root/6.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.safetable/com.aptana.core.io.11
.metadata/.plugins/org.eclipse.core.resources/.safetable/com.aptana.syncing.core.11
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.aptana.editor.common.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.aptana.portal.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.aptana.rcp.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.aptana.theme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.aptana.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.search.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.texteditor.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/Firefox - Internal Server.launch
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2016/7/30/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2016/7/30/refactorings.index
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
