body {
	font-family: Georgia, "Times New Roman", 
             "Microsoft YaHei", "微软雅黑", 
             STXihei, "华文细黑", 
             serif;
}

/* 定义 tag 的样式. */
#tag_type{
	color: red;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 1.5px;
	padding-right: 10px;
}

#tag_table{
	font-size: 13px;
	padding-right: 10px;
}

#tag_normal{
	color:blue;
	font-size: 14px;
	letter-spacing: 0.5px;
	padding-right: 10px;
}

#tag_nothing{
	color: #8DEEEE;
	font-size: 13px;
	letter-spacing: 0.5px;
	padding-right: 10px;
}

#tag_selected{
	color:red;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 1px;
	padding-right: 10px;
}

#tag_super{
	color:blue;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	padding-right: 10px;
}

/* 定义主界面的表格样式，总控制 */
table.table_main{
    font-family:verdana,arial,sans-serif,微软雅黑;
    font-size:13px;
    line-height:180%;
    padding-top: 8px;
    border:0;
    border-top:1pt solid #C1DAD7;
    border-left:1pt solid #C1DAD7;
    margin: 0 auto;
}

table.table_main tr:first-child{
    background:#33CCFF; 
    color:black;
    font-size:16px;
    font-weight:bold;
    text-align:center;
} /*第一行标题蓝色背景*/
 
table.table_main td{
    padding:5px 10px; 
    /*text-align:center; */
    border-right:1pt solid #C1DAD7;
    border-bottom:1pt solid #C1DAD7;
}

table.table_main tr:nth-of-type(even){
    background:#F9FAFA;
} /* odd 标识奇数行，even标识偶数行 */

table.table_main tr:hover{
    background: #E0F0F0;
} /*鼠标悬停后表格背景颜色*/

table.table_main tr.is_context{
    text-align:left;
}

table.table_main tr.is_metadata{
    background-color:#AFEEEE;
}/* 元数据蓝色高亮显示. */


/* form {line-height: 5px;} */
p.thick {
	font-size:15px; 
	font-weight: bold
}

p.normal {
	font-size:14px; 
	font-weight: normal
}

nobr.thick {
	font-size:13px; 
	font-weight: bold
}

nobr.normal {
	font-size:12px; 
	font-weight: normal
}

p.context {
	font-weight: normal
}

p.remark {
	color:blue;
	font-style:italic
}

/* 文本带有下划线 */
span.link{
	color:blue;
	font-weight:bold;
	text-decoration:underline;
	cursor:pointer;
}

table.normal {
	line-height:14px;
	width:800px;
	table-layout:fixed
}

table.tag_normal {
	line-height:12px;
	width:800px;
	padding:0;
	margin:0;
	table-layout:fixed;
}

tr.tag_normal {
	padding:0;
	margin:0;
}

textarea.has_text {
	color:blue; 
	font-weight:bold; 
	height:50px; 
	width:500px
}

textarea.no_text {
	height:50px; 
	width:500px
}

textarea.self_introduction {
	height:60px; 
	width:350px
}

div.system_user{
	border-width:1px; 
	border-style:solid; 
	/*height:100%; */
	height:100px;
	width:600px;
  	margin: 15px;
  	padding: 15px;
}

div.alert {
	font-size:18px; 
	color:red; 
	font-weight:bold; 
	display:none
}

.fixed{
	position:fixed; 
	z-index:1
}

#fixed_menu1{
	padding:5px; 
	text-align:right; 
	font-weight:bold; 
	background:#CCC; 
	top:0; 
	left:0; 
	right:0; 
	height:40px
}

#fixed_menu2{
	width:100%; 
	padding:10px; 
	text-align:center; 
	font-weight:bold;
	background:#000; 
	color:#FFF; 
	bottom:0;
}

#fixed_menu3{
	width:75px; 
	height:150px; 
	padding:10px; 
	background:#333; 
	line-height:20px; 
	color:#FFF; 
	margin-top:-75px; 
	top:50%; 
	left:0
}

#fixed_menu4{
	width:75px; 
	height:150px; 
	padding:10px; 
	background:#333; 
	line-height:20px; 
	color:#FFF; 
	margin-top:-75px; 
	top:50%; 
	right:16px;
}
	
a.red_black_underline:link, a.red_black_underline:visited{
	color:red;
	text-decoration:none;   /* link无下划线. */
}

a.red_black_underline:hover, a.red_black_underline:active{
	color:blue;
	text-decoration:underline;    /* 鼠标到位有下划线. */
}


/******************************************************/
/* system_frame use */
/******************************************************/
fieldset {  
    padding:10px;
    margin:10px;
    color:#333;
    /* border:#06c dashed 1px; */
}

legend{
    color:#06c;
    font-weight:800;
    background:#fff;
}

div.label {
    font-size:18px; 
    color:black; 
    font-weight:normal; 
    display:none
}

#progress_border{
    padding: 0; 
    background-color: white; 
    border: 1px solid navy; 
    width: 500px;
}

#progress{
    padding: 0; 
    background-color: #FFCC66; 
    border: 0; 
    width: 0px; 
    text-align: center; 
    height: 16px;
}

#percent{
    position: relative; 
    text-align: center; 
    font-weight: bold;
    font-size: 8pt;
    display:none
}

div.div_top{
    align: left;
    valign: top;
    
}

